<!DOCTYPE HTML>
<html>
	<head>
		<title>CONTAINER DEMO</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="url_for('static', filename='assets/js/ie/html5shiv.js')"></script><![endif]-->
		<link rel="stylesheet" href="url_for('static', filename='assets/css/main.css')" />
		<!--[if lte IE 8]><link rel="url_for('static', filename='stylesheet" href="assets/css/ie8.css')" /><![endif]-->
	</head>
	<body class="homepage">
		<div id="page-wrapper">
			<!-- Header -->
				<div id="header">
					<!-- Inner -->
						<div class="inner">
							<header>
								<h1><a href="/" id="logo">HELLO FROM CONATINER {{ container_name }}</a></h1>
								<hr />
								<p>Another container running the demo!</p>
							</header>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="/">Home</a></li>
							</ul>
						</nav>

				</div>

		</div>

		<!-- Scripts -->
			<script src="url_for('static', filename='assets/js/jquery.min.js')"></script>
			<script src="url_for('static', filename='assets/js/jquery.dropotron.min.js')"></script>
			<script src="url_for('static', filename='assets/js/jquery.scrolly.min.js')"></script>
			<script src="url_for('static', filename='assets/js/jquery.onvisible.min.js')"></script>
			<script src="url_for('static', filename='assets/js/skel.min.js')"></script>
			<script src="url_for('static', filename='assets/js/util.js')"></script>
			<!--[if lte IE 8]><script src="rl_for('static', filename='assets/js/ie/respond.min.js')"></script><![endif]-->
			<script src="url_for('static', filename='assets/js/main.js')"></script>
	</body>
</html>
